<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="shortcut icon" href="/images/Logo-sin-fondo.png">
    <link rel="stylesheet" href="/css/productdetail.css">
    <%- include('../partials/head') %>
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   
</head>
<body>
    <header>
        <%- include('../partials/header32') %>
    </header>
    <main>
        <div class="contenedor-cardDetail">
            <div class="card-detail">
                <div class="shoeBackground" style="height: 700px">
                    <form action="/products/index" method="get">
                    <div class="gradients">
                        <div class="gradient second" color="blue"></div>
                        <div class="gradient" color="red"></div>
                        <div class="gradient" color="green"></div>
                        <div class="gradient" color="orange"></div>
                        <div class="gradient" color="black"></div>
                    </div>
                    <h1 class="nike"><Print-Dustry></Print-Dustry></h1>
                    <img src="/images/Logo-sin-fondo.png" alt="" class="logo">
                    <a href="#" class="share"><i class="fas fa-share-alt"></i></a>
    
            

                    <div class="shoe-images">
                        <img src="<%= product.imagen %>" alt="" class="shoe show">
                        <img src="<%= product.imagen %>" alt="" class="shoe">
                        <img src="<%= product.imagen %>" alt="" class="shoe">
                        <img src="<%= product.imagen %>" alt="" class="shoe">
                        <img src="<%= product.imagen %>" alt="" class="shoe">
                    </div>

                </div>
                <div class="info">
                    <div class="shoeName">
                        <div>
                            <h1 class="big"><%= product.nombre %></h1>
                            <span class="new">Nuevo</span>
                        </div>
                        <h3 class="small">Print-Dustry Product</h3>
                    </div>
                    <div class="description">
                        <h3 class="title">Informacion del Producto</h3>
                        <p class="text"><%= product.descripcion %></p>
                    </div>
                    <div class="description">
                        <h3 class="title">Categoria</h3>
                        <p class="text"><%= product.id_categoria %></p>
                    </div>
                    <div class="description">
                        <h3 class="title">Material</h3>
                        <p class="text"><%= product.id_material %></p>
                    </div>
                    <div class="color-container">
                        <h3 class="title">Color</h3>
                        <div class="colors">
                            <% colores.forEach(color => { %>
                                <% if (color.id === product.id_color) { %>
                                    <div class="color" style="background-color:<%= color.codigo %>;" data-color="<%= color.codigo %>"></div>
                                <% } %>
                            <% }); %>       
                      
                        </div>
                    </div>
                    <div class="size-container">
                        <h3 class="title">Tamaño</h3>
                        <div class="sizes">
                            <span class="size"> 15 x 15</span>
                            <span class="size">20 x 20</span>
                            <span class="size active"> 10 x 10</span>
                        </div>
                    </div>
                    <div class="price">
                        <h1>Precio $: <%= product.precio %></h1>
                    </div>
                    <div class="buy-price">
      
                        <a href="/products/<%= product.id %>/addToCart" class="buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</a> 
                          
                    </div>
                    
                    <% if (userData && userData.id === product.usuario_id) { %>
                    <div class="buy-price">
                        <div class="buy">
                            <a href="/products/<%= product.id %>/delete" onclick="return confirmDelete();">Eliminar Producto</a>
                        </div>
                    </div>
                              
                    <div class="buy-price">
                        <div class="buy">
                            <a href="/products/<%= product.id %>/update?dataSet=item">Editar producto</a>
                            </a>
                        </div>
                    </div>

                    <% } %>

                    <script>
                        function confirmDelete() {
                            return confirm('¿Estás seguro de que deseas eliminar este producto?');
                        }
                    </script>
                    
                      
                  
                    
                    
                          
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="/users/script.js"></script>
        <script src="/users/scriptCard.js"></script>
     
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const elementosDeColor = document.querySelectorAll('.color');
                const rootStyles = document.documentElement.style;
                
                // Obtener el color por defecto desde el primer elemento
                const colorPorDefecto = elementosDeColor[0].getAttribute('data-color');
                rootStyles.setProperty('--primary', colorPorDefecto);
                
                // Cambiar el color de fondo de shoeBackground
                const shoeBackground = document.querySelector('.shoeBackground');
                shoeBackground.style.backgroundColor = colorPorDefecto;
                
                elementosDeColor.forEach(elementoDeColor => {
                    elementoDeColor.addEventListener('click', () => {
                        const colorSeleccionado = elementoDeColor.getAttribute('data-color');
                        rootStyles.setProperty('--primary', colorSeleccionado);
                        shoeBackground.style.backgroundColor = colorSeleccionado;
                    });
                });
            });
        </script>
        
        
        
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
