<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/update.css"> 
</head>
<body>
    <header>
        <%- include('../partials/header3') %>
    </header>
    <main>
        <div class="producto">
        <form action="/products/<%= productoAModificar.id %>/edit?_method=put" method="post" enctype="multipart/form-data">
            <label for="">Nombre:</label>
            <input type="text" name="nombre" value="<%= productoAModificar.nombre %>" id="" pattern=".{5,}" required>
            <span class="error">Ingrese un nombre válido (al menos 5 caracteres)</span>    
            <br>
            <br>
            <label for="">Precio:</label>
            <input type="text" name="precio" value="<%= productoAModificar.precio %>" id="">
            <br>
            <br>
            <label for="">Descuento:</label>
            <input type="text" name="discount" value="<%= productoAModificar.discount %>" id="">
            <br>
            <br>
            <label for="">Material:</label>
            <select name="nombre_material" id="material" class="control">
                <option value="" disabled>Selecciona un material</option>
                <% materiales.forEach(material => { %>
                    <% if (material.nombre === productoAModificar.nombre_material) { %>
                        <option value="<%= material.nombre %>" selected><%= material.nombre %></option>
                    <% } else { %>
                        <option value="<%= material.nombre %>"><%= material.nombre %></option>
                    <% } %>
                <% }) %>
            </select>
            <br>
            <br>
            <label for="">Descripción:</label>
            <input type="text" name="descripcion" value="<%= productoAModificar.descripcion %> " id="" pattern=".{20,}" required>
            <span class="error">Ingrese una descripcion valida (al menos 20 caracteres)</span>    
            <br>
            <br>
            <label for="">Categoria:</label>
            <select name="nombre_categoria" id="categoria" class="control">
                <option value="" disabled>Selecciona una categoría</option>
                <% categorias.forEach(categoria => { %>
                    <% if (categoria.nombre === productoAModificar.nombre_categoria) { %>
                        <option value="<%= categoria.nombre %>" selected><%= categoria.nombre %></option>
                    <% } else { %>
                        <option value="<%= categoria.nombre %>"><%= categoria.nombre %></option>
                    <% } %>
                <% }) %>
            </select>
            <br>
            <br>
            
            <label for="">Color:</label>
            <select name="nombre_color" id="color" class="control">
                <option value="" disabled>Selecciona un color</option>
                <% colores.forEach(color => { %>
                    <% if (color.nombre === productoAModificar.nombre_color) { %>
                        <option value="<%= color.nombre %>" selected><%= color.nombre %></option>
                    <% } else { %>
                        <option value="<%= color.nombre %>"><%= color.nombre %></option>
                    <% } %>
                <% }) %>
            </select>
            <br>
            <br>
            <label for="">Imagen:</label>
            <img src="<%= productoAModificar.imagen %>" alt="Imagen del producto">
            <input type="file" name="imagen">
            <br>
            <br>
            <input type="submit" value="Guardar Cambios"></input>
        </form>
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
