<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Index</title>

</head>
<body>
    <header>
        
        <%- include('../partials/header') %>
        
    </header>

    <main>
        <nav>
            <% if (userData && userData.username) { %>
                <form action="/users/sign-out" method="get">
                    <input type="submit" value="cerrar sesion">
                </form>
            <% } %>
            <% if (userData && userData.username) { %>
                <h1><%= userData.username %></h1>
            <% } %>
            <% if (userData && userData.email) { %>
                <h1><%= userData.email %></h1>
            <% } %>
        </nav>
        
     
        <div class="Productos">

        <a href="/products/create">Crear un nuevo producto</a>

            <h3>Basado en tu última visita</h3>
        <section id="Basado-en-tu-ultima-visita">
            <% productos.forEach(product => { %>
                <article>
                    <div class="contenedor" onclick="window.location.href='/products/<%= product.id %>/detail?dataSet=product'">
                        <div class="imagen">
                            <img src="<%= product.imagen %>" width="40%">
                        </div>
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck-fast" ></i>
                        </div>
                        <div class="precios-wrapper">
                            <p class="precios"><%= product.price %></p>
                            <p class="descuentos"><%= product.discount %></p>
                        </div>
                        <p class="descripciones"><%= product.description %></p>

                    </div>
                </article>
                    <% }); %>
        </section>

        

    </main>

    <footer>

        <%- include('../partials/footer') %>
        
    </footer>

</body>
</html>