<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Index</title>
</head>
<body>
    <header>
        
        <%- include('../partials/header') %>
        
    </header>

    <main id="Productos">

            <h3>Basado en tu última visita</h3>
        <section id="Basado-en-tu-ultima-visita">
            <article>
                <% productos.forEach(product => { %>
                    <div class="contenedor" onclick="window.location.href='/products/<%= product.id %>/detail?dataSet=item'">
                        <div class="imagen">
                            <img src="<%= product.imgs %>" width="40%">
                        </div>
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck-fast" ></i>
                        </div>
                        <div class="precios-wrapper">
                            <p class="precios"><%= product.precio %></p>
                            <p class="descuentos"><%= product.descuento %></p>
                        </div>
                        <p class="descripciones"><%= product.descripcion %></p>
                    </div>
                    <% }); %>
            </article>
            
            <article>
                <img class="img-articulos" src="./images/productos/iphonecase.jpg" alt="Iphone case" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.500</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">IPhone 12 Case</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Mac Book Pro 2019" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.000$</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/lapicero.jpg" alt="imagen del Samsung Galaxy" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$2.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Lapicero ABS</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del SmartTv Samnsing 43 pulgadas" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
        </section>
        
            <h3>Productos mas vendidos</h3>
        <section id="Seccion-de-Ofertas">
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Cafetera Moulinex" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="Mac Book Pro 2019" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.000$</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del Samsung Galaxy" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
            <article>
                <img class="img-articulos" src="./images/productos/jabonero.jpg" alt="imagen del SmartTv Samnsing 43 pulgadas" height="100px">
                <div class="articulos">
                    <p><i class="fa-solid fa-truck-fast"></i></p>
                    <div class="precios-wrapper">
                        <p class="precios">$1.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones">Jabonero PLA</p>
                </div>
            </article>
    
        
        </section>

        

    </main>

    <footer>

        <%- include('../partials/footer') %>
        
    </footer>

</body>
</html>