<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productdetail.css">
    <%- include('../partials/head') %>
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('../partials/header3') %>
    </header>
    <main>
        <div class="contenedor-cardDetail">
            <div class="card-detail">
                <div class="shoeBackground">
                    <form action="/products/index" method="get">
                    <div class="gradients">
                        <div class="gradient second" color="blue"></div>
                        <div class="gradient" color="red"></div>
                        <div class="gradient" color="green"></div>
                        <div class="gradient" color="orange"></div>
                        <div class="gradient" color="black"></div>
                    </div>
                    <h1 class="nike"><Print-Dustry></Print-Dustry></h1>
                    <img src="/images/Logo-sin-fondo.png" alt="" class="logo">
                    <a href="#" class="share"><i class="fas fa-share-alt"></i></a>
    
            

                    <img src="<%= product.imagen %>" alt="" class="shoe show" color="blue" width="250px">
                    <img src="<%= product.imagen %>" alt="" class="shoe" color="red">
                    <img src="<%= product.imagen %>" alt="" class="shoe" color="green">
                    <img src="<%= product.imagen %>" alt="" class="shoe" color="orange">
                    <img src="<%= product.imagen %>" alt="" class="shoe" color="black">

                </div>
                <div class="info">
                    <div class="shoeName">
                        <div>
                            <h1 class="big"><%= product.nombre %></h1>
                            <span class="new">nuevo</span>
                        </div>
                        <h3 class="small">Print-Dustry Product</h3>
                    </div>
                    <div class="description">
                        <h3 class="title">Informacion del Producto</h3>
                        <p class="text"><%= product.descripcion %></p>
                    </div>
                    <div class="description">
                        <h3 class="title">Categoria</h3>
                        <p class="text"><%= product.categoria %></p>
                    </div>
                    <div class="color-container">
                        <h3 class="title">Color</h3>
                        <div class="colors">
                            <span class="color active" primary="#2175f5" color="blue"></span>
                            <span class="color" primary="#f84848" color="red"></span>
                            <span class="color" primary="#29b864" color="green"></span>
                            <span class="color" primary="#ff5521" color="orange"></span>
                            <span class="color" primary="#444" color="black"></span>
                        </div>
                    </div>
                    <div class="size-container">
                        <h3 class="title">Tamaño</h3>
                        <div class="sizes">
                            <span class="size"> 15 x 15</span>
                            <span class="size">20 x 20</span>
                            <span class="size active"> 10 x 10</span>
                        </div>
                    </div>
                    <div class="buy-price">
                        <a href="/products/<%= product.id %>/addToCart" class="buy"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                        <div class="price">
                            <i class="fas fa-dollar-sign"></i>
                            <h1><%= product.precio %></h1>
                        </div>
                    </div>
                    
                    <div class="buy-price">
                        <div class="buy">
                            <a href="/products/<%= product.id %>/delete" onclick="return confirmDelete();">Eliminar Producto</a>
                        </div>
                    </div>
                              
                    <script>
                        function confirmDelete() {
                            return confirm('¿Estás seguro de que deseas eliminar este producto?');
                        }
                    </script>
                    
                      
                  
                    <br>
                    <div class="buy-price">
                        <div class="buy">
                            <a href="/products/<%= product.id %>/update?dataSet=item">Editar producto</a>
                            </a>
                        </div>
                    </div>
                    
                          
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/scrollreveal"></script>

        <script src="/users/script.js"></script>
        <script src="/users/scriptCard.js"></script>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>
